@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* colors */
  --clr-accent: 26 100% 55%;
  --clr-neutral: 25 100% 94%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
  --clr-dark: 220 13% 13%;
  --clr-dark-100: 219 9% 45%;
  --clr-light: 223 64% 98%;
  --clr-light-100: 220 14% 75%;

  /* fonts-families */
  --ff-base: 'Kumbh Sans', Arial, Helvetica, sans-serif;

  /* font-sizes */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
}

/* ---------------- */
/* Reset            */
/* ---------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
optgroup,
select {
  font: inherit;
}

/* Screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------ */
/* Body Styling       */
/* ------------------ */
body {
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  font-weight: 400;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-black));
}

h1,
h2,
h3,
h4 {
  line-height: 1.15;
}

button {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: transparent;
  background: transparent;
}

.hidden {
  display: none;
}

/* ----------------- */
/* Components        */
/* ----------------- */

.navbar-menu-toggle {
  display: none;
}

.container {
  max-width: 70em;
  margin-inline: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
  border-bottom: 1px solid hsl(var(--clr-light-100));
  padding-inline: 1em;
  position: relative;
  z-index: 1000;
}

.header > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.navbar {
  margin-right: auto;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__list li:not(:first-child) {
  margin-left: 2rem;
}

.navbar__list a {
  display: inline-block;
  text-decoration: none;
  color: hsl(var(--clr-dark-100));
  padding-block: 2rem;
  position: relative;
}

.navbar__list a::after {
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  background-color: hsl(var(--clr-accent));
  height: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.navbar__list a:hover::after {
  opacity: 1;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-container__dropdown {
  position: absolute;
  display: none;
  max-width: 22em;
  margin-left: auto;
  top: 5rem;
  right: 1rem;
  left: 1rem;
  border-radius: 6px;
  background: hsl(var(--clr-white));
  -webkit-box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.44);
  box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.44);
}

.cart-title {
  display: block;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  color: hsl(var(--clr-dark));
  border-bottom: 1px solid hsl(var(--clr-light-100));
}

.cart-items-container {
  padding: 1.25rem;
}

.cart-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.cart-items-list img:first-of-type {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 6px;
}

.cart-item {
  color: hsl(var(--clr-dark-100));
  font-size: var(--fs-400);
}

.cart-item span {
  font-weight: 700;
  color: hsl(var(--clr-black));
  margin-left: 1rem;
}

.btn-delete {
  color: hsl(var(--clr-dark-100));
  aspect-ratio: 1;
}

.btn-delete span[aria-hidden] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

.btn-delete:hover {
  color: hsl(var(--clr-accent));
}

.btn-checkout {
  width: 100%;
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-white));
  font-weight: 700;
  border-radius: 6px;
  padding-block: 0.75rem;
  -webkit-box-shadow: 0 1rem 2rem hsl(var(--clr-accent) / 0.22);
  box-shadow: 0 1rem 2rem hsl(var(--clr-accent) / 0.22);
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.btn-checkout:hover {
  background-color: hsl(var(--clr-accent) / 0.75);
}

.empty-cart-msg {
  font-weight: 700;
  text-align: center;
  padding-block: 3rem;
  color: hsl(var(--clr-dark-100));
}

.cart-container:focus-within .cart-container__dropdown {
  display: block;
}

.btn-cart,
.btn-account {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  aspect-ratio: 1;
  color: hsl(var(--clr-dark-100));
  -webkit-transition: border 0.25s ease, color 0.25s ease;
  -o-transition: border 0.25s ease, color 0.25s ease;
  transition: border 0.25s ease, color 0.25s ease;
}

.btn-cart--badge {
  --fs-300: 0.7rem;
  position: absolute;
  top: -0.35rem;
  right: -0.5rem;
  font-size: var(--fs-300);
  font-weight: 700;
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-neutral));
  padding: 0 0.5rem;
  border-radius: 100vh;
}

.btn-cart span[aria-hidden] {
  padding: 0.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-cart:hover {
  color: hsl(var(--clr-dark));
}

.btn-account {
  border: 2px solid transparent;
  border-radius: 50%;
}

.btn-account:hover {
  border-color: hsl(var(--clr-accent));
}

.btn-account img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Main Section */

main .shop {
  display: -ms-grid;
  display: grid;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-images {
  position: relative;
  padding-bottom: 100%;
  z-index: 1;
}

.carousel-images img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.carousel-images img:first-child {
  z-index: 1;
}

.carousel-controls {
  position: absolute;
  z-index: 2;
  inset: 50% 0.5rem auto 0.5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-prev,
.btn-next {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: hsl(var(--clr-white));
  aspect-ratio: 1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.44);
  box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.44);
}

.carousel-thumbnails {
  display: none;
}

.btn-thumbnail {
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 8px;
}

.thumbnail-active {
  border: 2px solid hsl(var(--clr-accent));
  border-radius: 8px;
  position: relative;
}

.thumbnail-active::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-white) / 0.5);
}

.product-details {
  padding: 1.5rem;
}

.product-details > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 0.85rem);
}

.product-details > span {
  color: hsl(var(--clr-accent));
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-300);
  letter-spacing: 2px;
}

.product-details > h2 {
  font-size: var(--fs-700);
  line-height: 1.15;
}

.product-details > p {
  color: hsl(var(--clr-dark-100));
}

.product-price-modal {
  --fs-300: 0.975rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: var(--fs-600);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.product-price-modal > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-discount {
  margin-left: 1rem;
  background-color: hsl(var(--clr-neutral));
  color: hsl(var(--clr-accent));
  padding: 0.25rem;
  border-radius: 4px;
  font-size: var(--fs-300);
}

.product-original-price {
  color: hsl(var(--clr-light-100));
  font-size: var(--fs-300);
  text-decoration: line-through;
}

.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}

.product-to-cart-actions {
  background-color: hsl(var(--clr-light));
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.btn-add,
.btn-remove {
  aspect-ratio: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.btn-add:hover,
.btn-remove:hover {
  background-color: hsl(var(--clr-light-100) / 0.2);
  opacity: 0.8;
}

.items-to-add {
  font-weight: 700;
  font-size: var(--fs-500);
  color: hsl(var(--clr-dark));
}

.btn-addToCart {
  border-radius: 6px;
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-white));
  font-weight: 700;
  font-size: var(--fs-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.75rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem hsl(var(--clr-accent) / 0.44);
  box-shadow: 0 2rem 4rem hsl(var(--clr-accent) / 0.44);
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.btn-addToCart:hover {
  background-color: hsl(var(--clr-accent) / 0.75);
}

.btn-addToCart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Modal */
.modal-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: hsl(var(--clr-black) / 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-container.hidden {
  display: none;
}

.modal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.modal-content {
  width: 30em;
  max-width: 45em;
  position: relative;
}

.btn-close {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  color: hsl(var(--clr-white));
}

.btn-close:hover {
  color: hsl(var(--clr-accent));
}

.modal-images {
  position: relative;
  z-index: 1;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.modal-images img {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.modal-images img:first-child {
  z-index: 1;
}

.modal-controls {
  position: absolute;
  z-index: 2;
  inset: 50% -1rem auto -1rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-controls .btn-prev:hover,
.modal-controls .btn-next:hover {
  color: hsl(var(--clr-accent));
}

.modal-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.modal-thumbnails img {
  aspect-ratio: 1;
  width: 6rem;
  pointer-events: none;
}

/* Footer */
footer {
  margin-top: 3rem;
}

.attribution {
  --fs-300: 0.875rem;
  font-size: var(--fs-300);
  text-align: center;
  color: hsl(var(--clr-dark));
}
.attribution a {
  color: hsl(var(--clr-accent));
}

/* ------------------- */
/* Media Queries       */
/* ------------------- */

@media (max-width: 45em) {
  .modal-container {
    display: none;
  }
}

@media (max-width: 51.625em) {
  .header {
    padding-block: 0.75rem;
    gap: 1rem;
  }

  .header__logo {
    margin-right: auto;
  }

  .navbar-menu-toggle {
    display: block;
    position: relative;
    z-index: 9999;
    aspect-ratio: 1;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar-menu-toggle[aria-expanded='true'] {
    background-image: url('../images/icon-close.svg');
    left: 0.5em;
  }

  .navbar {
    position: fixed;
    z-index: 9998;
    inset: 0;
    pointer-events: none;
  }

  .navbar[data-visible='true'] {
    pointer-events: all;
  }

  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: hsl(var(--clr-white));
    position: absolute;
    height: 100%;
    width: min(200px, 80%);
    padding-top: min(5rem, 10vh);
    gap: 0.75rem;
    -webkit-box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.2);
    box-shadow: 0 1rem 2rem hsl(var(--clr-black) / 0.2);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }

  .navbar[data-visible='true'] .navbar__list {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 10;
  }

  .navbar__list li:not(:first-child) {
    margin-left: 0;
  }

  .navbar__list li {
    padding-inline: 1rem;
  }

  .navbar__list a {
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    color: hsl(var(--clr-black));
  }

  .navbar__backdrop {
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .navbar[data-visible='true'] .navbar__backdrop {
    position: fixed;
    inset: 0;
    opacity: 1;
    z-index: 9;
    background-color: hsl(var(--clr-black) / 0.75);
  }

  .cart-item {
    --fs-300: 0.875rem;
    color: hsl(var(--clr-dark-100));
    font-size: var(--fs-300);
  }
}

@media (min-width: 40em) {
  .carousel-images {
    padding-bottom: 75%;
  }

  .product-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .product-to-cart-actions {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  .btn-addToCart {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
}

@media (min-width: 48em) {
  .shop {
    margin-top: 2rem;
    padding-inline: 1em;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .carousel-images {
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
}

@media (min-width: 55em) {
  .shop {
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
    margin-top: 4rem;
    padding-inline: 4em;
  }

  .carousel-controls {
    display: none;
  }

  .carousel-thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
  }

  .carousel-thumbnails img {
    aspect-ratio: 1;
    pointer-events: none;
  }

  .product-details {
    --flow-space: 1.25rem;
    padding-inline: 4em;
  }

  .product-details > h2 {
    font-size: var(--fs-800);
    margin-bottom: 2rem;
  }

  .product-price-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .product-actions {
    gap: 2rem;
  }
}
